@import url('./header.css');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}

:root {
  --main-color: #D56B2A;
  --second-color: #26547C;
  --third-color: #FFD166;
  --text-color: #111111;
  --bg-color: #FFF4DB;

  --main-font: 'Roboto Slab', serif;
  --second-font: 'Libre Baskerville', serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}