.intro {
  background-color: var(--bg-color-dark);
  display: flex;
  gap: 1.5rem;
}

.intro-text {
  padding-left: 2rem;
  position: relative;
}

.intro-text::before {
  content: '';
  position: absolute;
  background-image: url('../img/small-logo.png');
  background-size: contain;
  width: 52px;
  height: 52px;
  display: block;
  margin-right: 5px;
  top: -5%;
  left: 2%;
}

.intro-text h4 {
  border-left: solid 2px gainsboro;
  margin-left: 30px;
  padding-left: 0.8rem;
}