.intro {
  background-color: var(--bg-color-dark);
  display: flex;
  gap: 1.5rem;
}

.intro-text {
  padding-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-text h4 {
  border-left: solid 2px gainsboro;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 0.5rem;
  font-size: 24px;
  font-weight: 500;
  padding-top: 0.3rem;
  position: relative;
}

.intro-text h4::before {
  content: '';
  position: absolute;
  background-image: url('../img/small-logo.png');
  background-size: contain;
  width: 49px;
  height: 49px;
  display: block;
  margin-right: 5px;
  top: -30%;
  left: -10%;
}

.intro-text p {
  max-width: 97ch;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  font-family: var(--second-font);
  color: var(--subtext-color);
}

.btn.shop-now {
  padding: 0.7rem 1rem;
  margin-top: 3rem;
  background: var(--btn-gradient);
  display: block;
  max-width: fit-content;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: var(--btn-shadow);
}

.intro-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .intro-text h4::before {
    width: 35px;
    height: 35px;
    top: -5%;
  }
}

@media (max-width: 930px) {
  .intro-text h4::before {
    left: -14%;
  }
}

@media (max-width: 860px) {
  .intro {
    flex-direction: column;
  }
  .intro-text {
    padding-right: 3rem;
  }
  .intro-text h4::before {
    left: -8%;
  }
  .intro-img img {
    height: 300px;
    width: 100%;
  }
}