article {
  margin-left: 4rem;
}

article h3 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 2.7rem;
}

article h3::before {
  content: '';
  position: absolute;
  display: inline-block;
  background-color: var(--main-color);
  height: 2px;
  width: 39%;
  top: 50%;
  left: -1px;
}

article h3::after {
  content: '';
  position: absolute;
  display: inline-block;
  background-color: var(--main-color);
  height: 2px;
  width: 37%;
  top: 50%;
  left: 60%;
}

.features-container {
  display: flex;
  gap: 3rem;
}