.appliances-list {
  margin: 1rem 4rem;
}

.appliances-list h2 {
  font-weight: 400;
  position: relative;
  margin-bottom: 1.8rem;
}

.appliances-list h2 span {
  color: var(--main-color);
}

.appliances-list h2::after {
  content: '';
  position: absolute;
  color: var(--main-color);
  width: 100%;
  height: 2px;
  display: block;
  border-bottom: 2px solid var(--main-color);
  bottom: -5px;
}

.appliances-list ul {
  display: grid;
  margin: 0 2rem;
}

.appliances-list ul li {
  margin-top: .5rem;
  margin-left: 1rem;
  margin-bottom: 3.5rem;
  grid-row: 1/-1;
  border-radius: 4px;
  padding: 0.8rem;
}

.appliances-list ul li:hover {
  border: 1px solid var(--main-color);
}

.app-title h4::before {
  left: -4%;
}

@media (max-width: 840px) {
  .appliances-list ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .appliances-list ul li {
    grid-row: auto;
    grid-column: auto;
  }
  .app-title h4::before {
    left:  -6%;
  }
}

@media (max-width: 700px) {
  .app-title h4::before {
    left:  -8%;
  }
  .appliances-list ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 580px) {
  .app-title h4::before {
    left:  -12%;
  }
}