@import url('./header.css');
@import url('../main/intro.css');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}

:root {
  --main-color: #A2BDAA;
  --second-color: #26547C;
  --third-color: #FFD166;
  --text-color: #111111;
  --subtext-color: #444444;
  --bg-color-dark: #F6F6F6;
  --bg-color: #FFFFFF;
  --btn-gradient: linear-gradient(to right, #92A592, #D2E6D2);
  --btn-gradient-h: (to right, #A2B6A2, #E2F6E2);
  --btn-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  --main-font: 'Roboto Slab', serif;
  --second-font: 'Libre Baskerville', serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}