header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

#logo {
  margin-left: 2rem;
}

.header-links {
  margin-right: 2rem;
  display: flex;
  gap: 0.2rem;
}

.header-links a {
  padding: 0.4rem 0.7rem;
  border-radius: 4px;
}

.header-links a:hover {
  background-color: var(--bg-color-dark);
}

@media (max-width: 505px) {
  #logo {
    margin-left: 13px;
    width: 80px;
    height: 70px;
  }
  .header-links a {
    font-size: 12px;
    margin-right: 12px;
  }
}