.privacy-container {
  margin-bottom: 2rem;
}

.privacy-container h2 {
  padding-left: 25px;
  position: relative;
  margin-bottom: 0.3rem;
}

.privacy-container h2::before {
  content: '';
  width: 20px;
  background-color: var(--main-color);
  position: absolute;
  display: block;
  height: 3px;
  top: 50%;
  left: -2px;
}

.privacy-container p {
  padding-bottom: 0.5rem;
  padding-left: 10px;
}