.opinions {
  display: flex;
  margin-top: 4rem;
  gap: 2rem;
  padding-right: 4rem;
  margin-left: 0;
  background-color: #D2E6D2;
}

.opinions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

blockquote p {
  max-width: 60ch;
  padding-bottom: 0.8rem;
  font-size: 22px;
}