.insurance-block {
  display: flex;
  margin: 0 4rem;
  gap: 2rem;
}

.ins-plan {
  background-color: var(--bg-color-dark);
  padding: 1.5rem;
}

.plan-title {
  display: flex;
  justify-content: space-between;
}