.informative {
  padding: 2rem 3rem;
  margin: 0 2rem;
}

.informative li {
  display: flex;
  justify-content: space-between;
}

.informative a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}